.footer {
  height: 60px;
  display: flex;
  // flex: 1;
  width: 100vw;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 1.2rem;
  background-color: inherit !important;
  margin-top: auto;
  p {
    margin: 0;
  }
}