.nav-bar {
  display: flex;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  height: 60px;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 999;
  // &__left {
  // }
  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    .theme-switcher {
      margin-right: 0.5rem;
    }
    .language-selector {
      font-size: 1.2rem;
      font-weight: bold;
      width: fit-content;
    }
    .user {
      padding-right: 1.3rem;
      display: flex;
      align-items: center;
      &__avatar {
        color: var(--font-color);
        p {
          margin: 0;
        }
        font-size: 1.2rem;
        white-space: nowrap;
      }
      &__button {
        padding: 0 0.3rem;
        margin-left: 0.5rem;
        button {
          padding: 0 0.4rem;
          height: fit-content;
        }
      }
    }
  }
  .logo-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: fit-content;
    b {
      height: fit-content;
      margin-left: 0.3rem;
    }
    &__wrapper {
      width: fit-content;
    }
  }
}
