.cam-test {
  min-height: 100vh;
  width: fit-content;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    width: fit-content;
  }
}