@import 'bulma/css/bulma.css';
@import "dea";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  overflow: hidden;
}

.app-main {
  min-height: 100vh;
  background-color: mintcream;
}

.main-page {
  height: 100%;
  overflow-x: hidden;
}

.main-content {
  // min-height: calc(100vh - 90px);
  margin: auto 0;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    animation: fadeInDown;
    animation-duration: 0.8s;
    margin-bottom: 3rem;
  }
  .link-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    animation: fadeInUp;
    animation-duration: 0.8s;
    > p {
      margin: 0;
      cursor: pointer;
      &:hover {
        animation: pulse;
        animation-duration: 0.5s;
      }
    }
  }
}

.nav-bar {
  padding: 0.5rem;
  // animation: fadeInDown;
  // animation-duration: 0.8s;
}

.footer {
  height: 90px;
  display: flex;
  flex: 1;
  width: 100vw;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 1.2rem;
  background-color: inherit !important;
}

.language-selector {
  font-size: 1.2rem;
}

.center-main {
  min-height: 100vh;
  width: fit-content;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}