.energy-demo {
  height: fit-content;
  &__operation {
    text-align: center;
    button {
      margin: 0 1rem;
    }
  }
  &__real-time {
    display: flex;
    gap: 3rem;
    &__race-chart,
    &__trace-chart {
      p {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
      padding: 0rem;
    }
  }
  &__chart-container {
    height: 300px;
    width: 600px;
    &.race-chart,
    &.trace-chart {
      border: 2px gray solid;
      border-radius: 10px;
    }
  }
}
