.ant-btn-ghost {
  border-color: var(--bg-color-contrast) !important;
}

.ant-btn-dangerous {
  color: "#ff4d4f" !important;
}

.ant-dropdown-arrow {
  background: var(--bg-color-dark) !important;
  &::before {
    background-color: var(--bg-color-dark) !important;
  }
}

.ant-dropdown-menu {
  background-color: var(--bg-color-dark) !important;
  &-item span p {
    margin: 0.5rem 0;
  }
}

.ant-select-dropdown {
  .ant-select {
    &-item {
      &-option {
        height: fit-content;
        &-content {
          font-size: 1.5rem;
          line-height: 1.5rem;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

.ant-table {
  &-filter-dropdown {
    border: 1px solid var(--bg-color-contrast);
    .ant-dropdown-menu {
      background-color: var(--bg-color-light) !important;
      &-item {
        color: var(--font-color);
        &-active,
        &-selected {
          background-color: var(--bg-color-contrast);
          color: var(--font-color-contrast);
        }
      }
    }
  }
}
