@import "variables.scss";
body {
  background-color: var(--bg-color) !important;
  color: var(--font-color);
  a,
  b,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    color: var(--font-color);
  }
}
